* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.hover:hover {
  cursor: pointer;
}

[font-color='secondary'] {
  color: #637381;
}
body {
  background-color: #f9fafb;
  color: #212b36;
  padding: 0px 10px;
}
