* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
[font-color='secondary'] {
  color: #637381;
}
body {
  background-color: #f9fafb;
  color: #212b36;
  padding: 10px;
}
